/* -----------------------------------------
   Global resets
----------------------------------------- */
body {
	font-size: .91428571428571em;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	color: black;	
}
h1{
	font-family: Impact, Charcoal, sans-serif;
	font-style:normal;
	font-weight: 900;
	font-size: 1.90571428571429em;
	color: black;
	max-width: 1000px;
	padding-left: 10px;
	text-align: center;
}
h2{ 
	font: Impact, Charcoal, sans-serif;
	font-size: 1.71428571428571em;
	color: black;
	text-align: left;
}
h3 {
	font: Impact, Charcoal, sans-serif;
	font-style: normal;
	font-weight: 800;
	color: black;
	font-size: 1.11428571428571em;
	text-align: left;
}
p, h4, h5, h6{
	font-family: Lato, Arial, sans-serif;
	padding-left: 10px;
	color: black;
	max-width: 900px;
	font-size: .91428571428571em;
	text-align: left;
}
.tooltip {	
	position: absolute;
	border: 1px solid rgb(51, 51, 51);
	background-color: #000000;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 12px Arial;
	}
#center {
	text-align:center;	
}
.orange {
	color: #ff5400;
	text-align: center;
}
.imageContainer {
	width: 960px;
	height: auto;
    margin-top: 7.84em;
    margin-bottom: 0;
	right:0;
	text-align: center;
	horizontal-align: center;
	position:relative;
	background-color:black;}

/* -----------------------------------------
  header styles
----------------------------------------- */
header #fixed {
	background-color:black;
	background-repeat:repeat;
	top: 0;
	left: 0;
	right:0;
	width: 960px;
	height: 125px;
	z-index: 1005;
}
#box {
	background-color:black;
	background-repeat:repeat;
	width: 960px;
	height: 125px;
	font-size:12px;
	padding: 15px;
	top:0;
	left:0;	
	margin: 0 0 0 0;
	position: fixed;
	z-index: 1002;
	}
#box img {
	align: left;
	position: absolute;
}
#navTop {
     color: white;
     z-index: 1002;
     font-style:italic;
     margin-left: 550px;
     margin-right:0;
     position: absolute;
     padding:0;
	display:inline;
 }
#navTop p{
    color: white;
    display:inline;
}
.searchSide {
	width: 240px;
	height: 30px;
	font-size:12px;
	position:absolute;
	right:0;
	z-index: 1006;
}
.searchInput {
	width: 230px;
	height: 30px;
	font-size:12px;
	position:absolute;
	right:0;
	z-index: 1005;
}
#advSearch p{
	color: white;
	z-index: 1002;
	font-style:italic;
	text-decoration:underline;
	right:90px;
	position: absolute;
	padding-top:30px;
}
#signinButton {
	margin-bottom: 25px;
}
logoutButton {
	
}
#searchButton {
	margin: 0 25px 50px 0;
	position:absolute;
	right:0;
	z-index: 1005;
}
/* -----------------------------------------
                Container Navigation
----------------------------------------- */
#containerNav {
	width:960px;
	height:45px;
	background-color:white;
	text-align:left;	
	word-spacing: 20px;
	padding-top:10px;
	padding-bottom:17px;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing:.15em;
	text-shadow:none;
	border-bottom:solid 1px;
}
#containerNav ul li{
	display: inline;
	font-size: 20px;	
}
/* -----------------------------------------
  home page articles
----------------------------------------- */
#outer {
	position:relative;
	width: 960px;
	background-color:#ff5400;
}
#first {
	position:absolute;
	top: 0;
	left:0;
	background-color:#CCC;
	opacity: 0.6;
	width: 960px;	
	text-shadow: 3px 3px 3px white;
}

#featureBox {
	position:relative;
	clear: both;
	left:0;
	background-color:#ff5400;
	width: 960px;
	height: 145px;
	width: 960px;
}
#inFeaturedBox {
	position: absolute;
	text-align:left;
	padding: 0;
	width: 960px;
	
}
#inFeaturedBox h1 {
	color: white;
	text-shadow: 3px 3px 3px black;
	font-size: 2.90571428571429em;
}
#learnMorebtn {
	position: absolute;
	top:0;
	right:0;
	background-color: #B2B2B2;
}
#hmMiddle {
	width: 960px;
	height: 275px;
	background-color: white;
	position: relative;
	padding-top:50px;
	font-size: 1.11428571428571em;
	}
#hmMiddle h3 {
	text-align: center;	
	padding-top: 85px;
}
#boxOne {
	float: left;
	width: 200px;
	height: 150px;
	left: 130px;
	background-image:url(../images/new.jpg);
	position: absolute;
	padding-top: 50px;
	padding-bottom:50px;
}
#boxTwo {
	width: 200px;
	height: 150px;
	left: 380px;
	position: absolute;
	background-image:url(../images/trending.jpg);
	padding-top:50px;

}
#boxThree {
	width: 200px;
	height: 150px;
	left: 630px;
	position: absolute;
	background-image:url(../images/sale.jpg);
	padding-top:50px;
}
/* -----------------------------------------
  login page
----------------------------------------- */
#loginContainerImg {
	background-image:url(../images/featured_big.jpg);	
}
.big {
	width:100%;
	overflow:hidden;	
}
.boxoverlay {
	width: 52.083333333333%;
	min-width: 270px;
	max-width:500px;
	background: #FAFAFA;
	box-shadow: 0 0 10px #000;
	border-radius: 20px;
	overflow: hidden;
	position: absolute;
	margin-top: -590px;
	margin-bottom: auto;
	padding: 25px;
	z-index:1005;
	margin-left: 22%;
	text-decoration:none;
}
#cta p{
	text-align:center;
}
/* -----------------------------------------
                  register page
----------------------------------------- */
.regOverlay {
	width: 51.083333333333%;
	min-width: 270px;
	max-width:400px;
	background: #FAFAFA;
	box-shadow: 0 0 10px #000;
	border-radius: 20px;
	overflow: hidden;
	position: absolute;
	margin-top: -650px;
	margin-bottom: auto;
	z-index:1005;
	margin-left: 32%;
	text-decoration:none;
}

/* -----------------------------------------
                search page
----------------------------------------- */
.searchOverlay {
	width: 66.916666666667%;
	background: #FAFAFA;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	margin-left: 16.91666666667%;
	min-width: 470px;
	max-width:70.916666666667%;
	overflow: hidden;
	margin-top: -510px;
	margin-right:auto;
	margin-bottom: auto;
}
#searchNav{
	font-style:italic;
	font-size: 12px;
	color: #898989;
	text-align:right;
	margin-right:33px;
}
.wideSearch {
	width: 500px;
	text-align:left;
	margin-right:30px;
}
#advSearchBtn {
	width: 100px;
	background-color:#3576C6;
	color: white;
	margin-left:465px;
}
#searchLabel {
	margin: 0 0 0 30px;
}
.searchtext{
	text-shadow: 3px 3px 3px black;
	font-size: 2.90571428571429em;
	color: #ff5400; 
}
/* -----------------------------------------
          MySurf Rack page and modal
----------------------------------------- */
#mySurfContainer {
	width: 960px;
	height: auto;
	text-align: center;
	horizontal-align: center;
    display: inline-block;
	background: none;
	position: absolute;
	margin-left: 10.91666666667%;
	padding: 25px 0 0 0;
	min-width: 470px;
	max-width:72.916666666667%;
	overflow: hidden;
	margin-top: -800px;
	margin-right:auto;
	margin-bottom: auto;
}
.racktext h1 {
	color:white;
	text-shadow: 3px 3px 3px black;
	font-size: 2.90571428571429em; 
}
.racktext h3 {
	color:white;
	text-shadow: 3px 3px 3px black;
	font-size: 1.30571428571429em;
	text-align:center; 
}
.racktext p {
	color:white;
	text-shadow: 3px 3px 3px black;
	font-size: 0.90571428571429em; 
}
.modalClick {
	float: right;
	width: 200px;
	background-color:black;
	color: white;
	}
#overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: absolute;
	top: 0;
	left:0;
	z-index: 1008;
	display:none;
	}
#modal {
	width: 450px;
	background: #CCC;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	z-index: 1001;
	display: none;
}
#modal .header {
	background: #333;
	color: #FFF;
	padding: 10px;
	
	}
#modal p{
	margin: 15px;
	}
#modal .close{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #cccccc;
	background-color: #ff0000;
	}
form{
	padding: 15px;
	text-align: left;
	}

header {
	width: 960px;
}
.userid{
	width: 100px;
	float: left;
	font-weight: bold;
	}	
.logoutbox{
	width: 400px;
	float: right;
	}
.mystatus > input[type=radio]{
	display: none;
	}
input[type=radio] + img{
	cursor: pointer;
	border: 2px solid transparent;
	}
input[type=radio] .checked + img{
	border: 2px solid #ff0000;
	}
.projectsContainer {
	width: 455px;
	border: 1px solid black;
	box-shadow: 3px;
	background-color: red;
	align: center;
	height: 700px;
	clear:both;
	margin: 50px auto 50px auto;
	position:relative;
}
.projects {
	text-align:left;
	background-color: white;
	
	}
#sortable {
		background-color: white;
	
	}
	/* -----------------------------------------
  artists page
----------------------------------------- */
#artMiddle {
	width: 960px;
	height: 975px;
	background-image:url(../images/swoosh.jpg);
	left: 0;
	position: relative;
	padding-top:40px;
	display: inline-block;
	top:0;
}
.artisttext h1 {
	background-color:white;
	text-shadow: 3px 3px 3px gray;
	font-size: 2.90571428571429em;
}
#artMiddle h3{
	text-align: left;
	margin-top: 150px;
	padding:0;	
}
#artMiddle h4{
	text-align: left;	
	margin-top: 150px;
	padding:0;
}
#artMiddle p {
	text-align: left;
	font-size: 13px;
	padding-left: 0;
	font-weight: 500;
	text-shadow: 2px 2px 2px WHITE;
}
#artboxOne {
	float: left;
	width: 200px;
	height: 150px;
	left: 130px;
	background-image:url(../images/6.jpg);
	position: absolute;
	border: 1px solid black;
}
#artboxTwo {
	width: 200px;
	height: 150px;
	left: 380px;
	position: absolute;
	background-image:url(../images/9.jpg);
	padding-top:50px;
	border: 1px solid black;
}
#artboxThree {
	width: 200px;
	height: 150px;
	left: 630px;
	position: absolute;
	padding-top:50px;
	border: 1px solid black;
	background-image:url(../images/5.jpg);
}
#artboxFour {
	float: left;
	width: 200px;
	height: 150px;
	left: 130px;
	background-image:url(../images/7.jpg);
	position: absolute;
	padding-top: 50px;
	padding-bottom:50px;
	border: 1px solid black;
	clear:both;
}
#artboxFive {
	width: 200px;
	height: 150px;
	left: 380px;
	position: absolute;
	background-image:url(../images/10.jpg);
	padding-top:50px;
	border: 1px solid black;
}
#artboxSix {
	width: 200px;
	height: 150px;
	left: 630px;
	position: absolute;
	background-image:url(../images/8.jpg);
	padding-top:50px;
	border: 1px solid black;
}
tr #colOne {
	float: left;
	width: 200px;
	height: 150px;
	left: 130px;
	position: absolute;
}
tr #colTwo {
	width: 200px;
	left: 380px;
	position: absolute;
	padding-top:5px;
}
tr #colThree {
	width: 200px;
	left: 630px;
	position: absolute;
	padding-top:5px;
}
tr td{
	width: 200px;
}
td p{
	text-align: left;
	font-size: 13px;
	font-weight: 500;
	text-shadow: 2px 2px 2px WHITE;
	padding-top: 175px;
	width: 200px;
	height:auto;
}
table {
	width: 700px;
}
#toptable{
	width: 700px;
	margin-bottom: 520px;
}
/* -----------------------------------------
Poor Man's Reset
CSSresetr.com
-----------------------------------------*/
html, body {
	padding: 0;
	margin: 0;
	}
html {
	font-size: 1em;
	}
body {
	font-size: 100%;
	}
a img, :link img, :visited img {
	border: 0;
	}
/* -----------------------------------------
Buttons
-----------------------------------------*/

/* -----------------------------------------
footer
-----------------------------------------*/
#footerBox {
	width: 960px;
	height: 198px;
	background-color: #F4F4F4;
	margin: 0 0 0 0;
	position: fixed;
	left:0;	
}
#footerSide {
	padding: 10px 0 0 0;
	font-size:10px;
	text-align:left;
	line-height: 2em;
}
#footerSide li {
	list-style-type:none;
	padding:0;
}
nav ul li {
	display:inline;
	font-size: 9px;
	text-align: center;	
	margin: 0 0 0 0;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	color:gray;
} 

/* Visibility Classes ---------------------- */
/*                                           */
/* Standard (large) display targeting */
 .show-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .show-for-xlarge, .show-for-print { display: none !important; }

.hide-for-small, .hide-for-medium, .hide-for-medium-down, .show-for-large, .show-for-large-up, .hide-for-xlarge, .hide-for-print { display: inherit !important; }
.show-for-small { 
	display: inherit !important;
	color: white;
	}

/* Medium display targeting */
@media only screen and (max-width: 1279px) and (min-width: 768px) { .hide-for-small, .show-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .hide-for-xlarge { display: inherit !important; }
.hide-for-medium, .hide-for-medium-down, .show-for-large, .show-for-large-up, .show-for-xlarge { display: none !important; } }
.show-for-small { 
	display: inherit !important;
	color: white;	}

/* Small display targeting */
@media only screen and (max-width: 767px) { 
.show-for-small, .hide-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .hide-for-xlarge { display: inherit !important; }
  .hide-for-small, .show-for-medium, .hide-for-medium-down, .show-for-large, .show-for-large-up, .show-for-xlarge { display: none !important; } 
 .flex-video { 
	padding-top: 0; 
	} 
.show-for-small { 
	display: inherit !important;
	color: white; 
	}
.hide-for-small{
	display:none; 
	margin-bottom:0;
}
	
h1 {
	font-size:28px;
	}
h3{
	font-size:24px;
}
#inFeaturedBox h1 {
	font-size: 30px;

}
#featureBox{height:100px;}
#inFeaturedBox{padding-top:30px;}
#searchButton {
	width:100%;
	background-color: red;
	color:white;
	font-size:14px;
	top:80px;
	position:absolute;
	right:0;}
#boxOne{
	position:relative;}
	#boxTwo{
	position:relative;}	
	#boxThree{
	position:relative;}		



#navTop {
     color: white;
     z-index: 1002;
     font-style:italic;
     margin-left: 550px;
     margin-right:0;
     position: absolute;
     padding:0;
	display:inline;
 }
.searchSide {
	font-size:14px;
	width:100%;
	z-index: 1006;
	
}
#learnMore {
	width:100%;
	background-color: black;
	color:white;
}			
			
/* Orientation targeting */
.show-for-landscape, .hide-for-portrait { display: inherit !important; }

.hide-for-landscape, .show-for-portrait { display: none !important; }

@media screen and (orientation: landscape) { .show-for-landscape, .hide-for-portrait { display: inherit !important; }
  .hide-for-landscape, .show-for-portrait { display: none !important; } .show-for-small { 
	display: inherit !important;
 
	}
.hide-for-small{
	display:none; 
}.show-for-small { 
	display: inherit !important;
	color: white;
	}

.hide-for-small{
	display:none; 
}}
@media screen and (orientation: portrait) { .show-for-portrait, .hide-for-landscape { display: inherit !important; }
  .hide-for-portrait, .show-for-landscape { display: none !important; } .show-for-small { 
	display: inherit !important;
	color: white; 
	}
.hide-for-small{
	display:none; 
}}


/* Covering almost all ----- */
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) { 

.show-for-small { 
	color: white;
	}
.hide-for-small, .hide-for-medium, .hide-for-large, .hide-for-xlarge{
	display:none; 
	color: none;
}
.enlarge-for-small {
	width: 100%;
}
.move-for-small {
	bottom:0;
}

}

h1 {
	-webkit-transition: transform 0.75s ease 0s;
	-o-transition: transform 0.75s ease 0s;
	transition: transform 0.75s ease 0s;
}
h1:hover {
	color: hsla(65,44%,45%,1);
}
textarea:focus {
	-webkit-transform: skew;
	-o-transform: skew;
	transform: skew;
}
