/* -----------------------------------------
   Global resets
----------------------------------------- */
body {
	font-family: Lato, Arial, sans-serif;
	font-size: .91428571428571em;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-align: left;
	text-wrap: normal;
	color: black;
	width: 100%;
	background-color: #ffffff;
}
h1{
	font-size: 1.80571428571429em;
	color: #C90739;
	max-width: 1000px;
	padding-left: 10px;
}
h2{
	font-size: 1.71428571428571em;
	color: black;
}
h3 {
	font-family: Lato, Arial, sans-serif;
	font-weight: 200;
	color: black;
	font-size: 1.11428571428571em;
}
p, h4, h5, h6{
	padding: 10px;
	color: black;
	max-width: 900px;
	font-size: .91428571428571em;
}

/* -----------------------------------------
  header styles
----------------------------------------- */
#box {
	background-color: black;
	width: 100%;
	height: 125px;
	font-size:12px;
	padding: 25px;
	}
#box img {
	align: left;
	position: absolute;
}
#box ul li{
	color: white;
	z-index: 1002;
	display: inline;
	font-style:italic;
	margin: 50px 0 0 550px;
}
#box #search {
	background-color: #999;
	width: 150px;
	height: 30px;
	font-size:12px;
	margin: 0px 0 0 600px;	
}
/* -----------------------------------------
  home page articles
----------------------------------------- */
#outer {
	position:relative;
	width: 100%;
}
#first {
	position:absolute;
	top: 0;
	left:0;
	background-color:#CCC;
	opacity: 0.6;
	text-align:left;
	width: 960px;
	font-weight:bold;
	color: white;
}
#featureBox {
	position:relative;
	clear: both;
	left:0;
	background-color:#CCC;
	width: 960px;
	height: 175px;
}
#inFeaturedBox {
	position: absolute;
	text-align:left;
	padding: 0;
}
#hmMiddle {
	width: 960px;
	height: 275px;
	background-color: white;
	left: 0;
	position: relative;
	padding-top:50px;
}
#hmMiddle h3 {
	text-align: center;	
	padding-top: 85px;
}
#boxOne {
	float: left;
	width: 200px;
	height: 150px;
	left: 130px;
	background-image:url(../images/new.jpg);
	position: absolute;
	padding-top: 50px;
	padding-bottom:50px;
}
#boxTwo {
	width: 200px;
	height: 150px;
	left: 380px;
	position: absolute;
	background-image:url(../images/trending.jpg);
	padding-top:50px;

}
#boxThree {
	width: 200px;
	height: 150px;
	left: 630px;
	position: absolute;
	background-image:url(../images/sale.jpg);
	padding-top:50px;
}

/* -----------------------------------------
  projects page modal
----------------------------------------- */
#overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: absolute;
	top: 0;
	left:0;
	z-index: 1000;
	display:none;
	}
#modal {
	width: 450px;
	background: #CCC;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	z-index: 1001;
	display: none;
}
#modal .header {
	background: #333;
	color: #FFF;
	padding: 10px;
	
	}
#modal p{
	margin: 15px;
	}
#modal .close{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #cccccc;
	background-color: #ff0000;
	}
.modalClick {
	float: left;
	}
form{
	padding: 15px;
	text-align: left;
	}

header {
	width: 960px;
}
.userid{
	width: 100px;
	float: left;
	font-weight: bold;
	}	
.logoutbox{
	width: 400px;
	float: right;
	}
.mystatus > input[type=radio]{
	display: none;
	}
input[type=radio] + img{
	cursor: pointer;
	border: 2px solid transparent;
	}
input[type=radio] .checked + img{
	border: 2px solid #ff0000;
	}
.projects {
	text-align:left;
	background-color: white;
	
	}
#sortable {
		background-color: white;
	
	}
	/* -----------------------------------------
  login
----------------------------------------- */
.tooltip {
	
	position: absolute;
	border: 1px solid rgb(51, 51, 51);
	background-color: #000000;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 12px Arial;
	}
	

/* -----------------------------------------
Poor Man's Reset
CSSresetr.com
-----------------------------------------*/
html, body {
	padding: 0;
	margin: 0;
	}
html {
	font-size: 1em;
	}
body {
	font-size: 100%;
	}
a img, :link img, :visited img {
	border: 0;
	}
/* -----------------------------------------
Buttons
-----------------------------------------*/
#learnMore {
	background-color: #F30;
	margin-left: 800px;
}
/* -----------------------------------------
footer
-----------------------------------------*/
#footerBox {
	width: 960px;
	height: 225px;
	background-color: #E5E5E5;
	margin: 0px 25px 0 0;
	text-align: center;
}
#footerSide {
	padding: 10px 0 0 0;
	font-size:12px;
	text-align:left;
	line-height: 2em;
}
#footerSide li {
	list-style-type:none;
	padding:0;
}
nav ul li {
	display:inline;
	font-size: 9px;	
}